In [1]:
#Pulls from dataset "EPL Standings 2000-2022.csv" and converts it into a dataframe
#This is a dataset of all the English Premier League standings from 2000 - 2022

import pandas as pd
PL = pd.read_csv("EPL Standings 2000-2022.csv",index_col = 0)
PL

,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
Season,,,,,,,,,,,
2000-01,1,Manchester United,38,24,8,6,79,31,48,80,Qualification for the Champions League first g...
2000-01,2,Arsenal,38,20,10,8,63,38,25,70,Qualification for the Champions League first g...
2000-01,3,Liverpool,38,20,9,9,71,39,32,69,Qualification for the Champions League third q...
2000-01,4,Leeds United,38,20,8,10,64,43,21,68,Qualification for the UEFA Cup first round[a]
2000-01,5,Ipswich Town,38,20,6,12,57,42,15,66,Qualification for the UEFA Cup first round[a]
...,...,...,...,...,...,...,...,...,...,...,...
2021-22,16,Everton,38,11,6,21,43,66,-23,39,Not Applicable
2021-22,17,Leeds United,38,9,11,18,42,79,-37,38,Not Applicable
2021-22,18,Burnley,38,7,14,17,34,53,-19,35,Relegation to the EFL Championship
2021-22,19,Watford,38,6,5,27,34,77,-43,23,Relegation to the EFL Championship
2021-22,20,Norwich City,38,5,7,26,23,84,-61,22,Relegation to the EFL Championship

In [6]:
#View of the dataframe

print(PL.head())

         Pos               Team  Pld   W   D   L  GF  GA  GD  Pts  \
Season
2000-01    1  Manchester United   38  24   8   6  79  31  48   80
2000-01    2            Arsenal   38  20  10   8  63  38  25   70
2000-01    3          Liverpool   38  20   9   9  71  39  32   69
2000-01    4       Leeds United   38  20   8  10  64  43  21   68
2000-01    5       Ipswich Town   38  20   6  12  57  42  15   66

                               Qualification or relegation
Season
2000-01  Qualification for the Champions League first g...
2000-01  Qualification for the Champions League first g...
2000-01  Qualification for the Champions League third q...
2000-01      Qualification for the UEFA Cup first round[a]
2000-01      Qualification for the UEFA Cup first round[a]

In [13]:
#Count of rows and columns

print(PL.shape)

(440, 11)

In [10]:
#Checking if there are any data gaps

missing_values_count = PL.isnull().sum()
print(missing_values_count[0:11])

Pos                            0
Team                           0
Pld                            0
W                              0
D                              0
L                              0
GF                             0
GA                             0
GD                             0
Pts                            0
Qualification or relegation    0
dtype: int64

In [12]:
#Data Cleaning
#Drop any rows that are duplicates

drop_duplicates= PL.drop_duplicates()
print(PL.shape,drop_duplicates.shape)

(440, 11) (440, 11)