In [91]:
#Pulls from dataset "EPL Standings 2000-2022.csv" and converts it into a dataframe
#This is a dataset of all the English Premier League standings from 2000 - 2022

import pandas as pd
import numpy as np


PL = pd.read_csv("EPL Standings 2000-2022.csv",index_col = 0)
PL

,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
Season,,,,,,,,,,,
2000-01,1,Manchester United,38,24,8,6,79,31,48,80,Qualification for the Champions League first g...
2000-01,2,Arsenal,38,20,10,8,63,38,25,70,Qualification for the Champions League first g...
2000-01,3,Liverpool,38,20,9,9,71,39,32,69,Qualification for the Champions League third q...
2000-01,4,Leeds United,38,20,8,10,64,43,21,68,Qualification for the UEFA Cup first round[a]
2000-01,5,Ipswich Town,38,20,6,12,57,42,15,66,Qualification for the UEFA Cup first round[a]
...,...,...,...,...,...,...,...,...,...,...,...
2021-22,16,Everton,38,11,6,21,43,66,-23,39,Not Applicable
2021-22,17,Leeds United,38,9,11,18,42,79,-37,38,Not Applicable
2021-22,18,Burnley,38,7,14,17,34,53,-19,35,Relegation to the EFL Championship
2021-22,19,Watford,38,6,5,27,34,77,-43,23,Relegation to the EFL Championship
2021-22,20,Norwich City,38,5,7,26,23,84,-61,22,Relegation to the EFL Championship

In [92]:
#View of the dataframe

print(PL.head())

         Pos               Team  Pld   W   D   L  GF  GA  GD  Pts  \
Season
2000-01    1  Manchester United   38  24   8   6  79  31  48   80
2000-01    2            Arsenal   38  20  10   8  63  38  25   70
2000-01    3          Liverpool   38  20   9   9  71  39  32   69
2000-01    4       Leeds United   38  20   8  10  64  43  21   68
2000-01    5       Ipswich Town   38  20   6  12  57  42  15   66

                               Qualification or relegation
Season
2000-01  Qualification for the Champions League first g...
2000-01  Qualification for the Champions League first g...
2000-01  Qualification for the Champions League third q...
2000-01      Qualification for the UEFA Cup first round[a]
2000-01      Qualification for the UEFA Cup first round[a]

In [93]:
#Count of rows and columns

print(PL.shape)

(440, 11)

In [94]:
#Checking if there are any data gaps

missing_values_count = PL.isnull().sum()
print(missing_values_count[0:11])

Pos                            0
Team                           0
Pld                            0
W                              0
D                              0
L                              0
GF                             0
GA                             0
GD                             0
Pts                            0
Qualification or relegation    0
dtype: int64

In [95]:
#Data Cleaning
#Drop any rows that are duplicates

drop_duplicates= PL.drop_duplicates()
print(PL.shape,drop_duplicates.shape)

(440, 11) (440, 11)

In [96]:
#Sorting & Filtering
#Making a duplicate of the PL dataframe using the copy function in order to still keep the original 
#also be able to alter PL_Seasons without fear of any data loss


PL_Seasons = PL.copy()
print(PL_Seasons)

         Pos               Team  Pld   W   D   L  GF  GA  GD  Pts  \
Season
2000-01    1  Manchester United   38  24   8   6  79  31  48   80
2000-01    2            Arsenal   38  20  10   8  63  38  25   70
2000-01    3          Liverpool   38  20   9   9  71  39  32   69
2000-01    4       Leeds United   38  20   8  10  64  43  21   68
2000-01    5       Ipswich Town   38  20   6  12  57  42  15   66
...      ...                ...  ...  ..  ..  ..  ..  ..  ..  ...
2021-22   16            Everton   38  11   6  21  43  66 -23   39
2021-22   17       Leeds United   38   9  11  18  42  79 -37   38
2021-22   18            Burnley   38   7  14  17  34  53 -19   35
2021-22   19            Watford   38   6   5  27  34  77 -43   23
2021-22   20       Norwich City   38   5   7  26  23  84 -61   22

                               Qualification or relegation
Season
2000-01  Qualification for the Champions League first g...
2000-01  Qualification for the Champions League first g...
2000-01  Qualification for the Champions League third q...
2000-01      Qualification for the UEFA Cup first round[a]
2000-01      Qualification for the UEFA Cup first round[a]
...                                                    ...
2021-22                                     Not Applicable
2021-22                                     Not Applicable
2021-22                 Relegation to the EFL Championship
2021-22                 Relegation to the EFL Championship
2021-22                 Relegation to the EFL Championship

[440 rows x 11 columns]

In [97]:
#Simple way of pulling the first season out of the dataframe

result = PL_Seasons.head(20)
print("First Season of the DataFrame:")
print(result)

First Season of the DataFrame:
         Pos               Team  Pld   W   D   L  GF  GA  GD  Pts  \
Season
2000-01    1  Manchester United   38  24   8   6  79  31  48   80
2000-01    2            Arsenal   38  20  10   8  63  38  25   70
2000-01    3          Liverpool   38  20   9   9  71  39  32   69
2000-01    4       Leeds United   38  20   8  10  64  43  21   68
2000-01    5       Ipswich Town   38  20   6  12  57  42  15   66
2000-01    6            Chelsea   38  17  10  11  68  45  23   61
2000-01    7         Sunderland   38  15  12  11  46  41   5   57
2000-01    8        Aston Villa   38  13  15  10  46  43   3   54
2000-01    9  Charlton Athletic   38  14  10  14  50  57  -7   52
2000-01   10        Southampton   38  14  10  14  40  48  -8   52
2000-01   11   Newcastle United   38  14   9  15  44  50  -6   51
2000-01   12  Tottenham Hotspur   38  13  10  15  47  54  -7   49
2000-01   13     Leicester City   38  14   6  18  39  51 -12   48
2000-01   14      Middlesbrough   38   9  15  14  44  44   0   42
2000-01   15    West Ham United   38  10  12  16  45  50  -5   42
2000-01   16            Everton   38  11   9  18  45  59 -14   42
2000-01   17       Derby County   38  10  12  16  37  59 -22   42
2000-01   18    Manchester City   38   8  10  20  41  65 -24   34
2000-01   19      Coventry City   38   8  10  20  36  63 -27   34
2000-01   20      Bradford City   38   5  11  22  30  70 -40   26

                               Qualification or relegation
Season
2000-01  Qualification for the Champions League first g...
2000-01  Qualification for the Champions League first g...
2000-01  Qualification for the Champions League third q...
2000-01      Qualification for the UEFA Cup first round[a]
2000-01      Qualification for the UEFA Cup first round[a]
2000-01      Qualification for the UEFA Cup first round[a]
2000-01                                     Not Applicable
2000-01    Qualification for the Intertoto Cup third round
2000-01                                     Not Applicable
2000-01                                     Not Applicable
2000-01    Qualification for the Intertoto Cup third round
2000-01                                     Not Applicable
2000-01                                     Not Applicable
2000-01                                     Not Applicable
2000-01                                     Not Applicable
2000-01                                     Not Applicable
2000-01                                     Not Applicable
2000-01   Relegation to the Football League First Division
2000-01   Relegation to the Football League First Division
2000-01   Relegation to the Football League First Division

In [108]:
#Selecting by position
#Select single value by row & column

PL_Seasons.iloc[[7],[7]]

         GA
Season
2000-01  43

In [113]:
#Selecting by Label & Position
#The below code gives a list of all the teams in each season of the dataframe.

PL_Seasons.iloc[:, 1]

Season
2000-01    Manchester United
2000-01              Arsenal
2000-01            Liverpool
2000-01         Leeds United
2000-01         Ipswich Town
                 ...
2021-22              Everton
2021-22         Leeds United
2021-22              Burnley
2021-22              Watford
2021-22         Norwich City
Name: Team, Length: 440, dtype: object

In [86]:
#A view of every team that finished the season with over 90 points.
#This method of selecting is a form of Boolean Indexing

PL_Seasons[PL_Seasons['Pts']>90]

,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
Season,,,,,,,,,,,
2004-05,1,Chelsea,38,29,8,1,72,15,57,95,Qualification for the Champions League group s...
2005-06,1,Chelsea,38,29,4,5,72,22,50,91,Qualification for the Champions League group s...
2016-17,1,Chelsea,38,30,3,5,85,33,52,93,Qualification for the Champions League group s...
2017-18,1,Manchester City,38,32,4,2,106,27,79,100,Qualification for the Champions League group s...
2018-19,1,Manchester City,38,32,2,4,95,23,72,98,Qualification for the Champions League group s...
2018-19,2,Liverpool,38,30,7,1,89,22,67,97,Qualification for the Champions League group s...
2019-20,1,Liverpool,38,32,3,3,85,33,52,99,Qualification for the Champions League group s...
2021-22,1,Manchester City,38,29,6,3,99,26,73,93,Qualification for the Champions League group s...
2021-22,2,Liverpool,38,28,8,2,94,26,68,92,Qualification for the Champions League group s...

In [126]:
# This returns the mean of values
# Here we use the mean function to find out the mean of the Points and Goals against columns 

PL_Seasons[["Pts","GA"]].mean()

Pts    52.240909
GA     50.863636
dtype: float64

In [127]:
# Here we are using the median function to compare the difference between the results for mean and median

PL_Seasons[["Pts","GA"]].median()

Pts    48.0
GA     51.0
dtype: float64

In [137]:
#Below we use Boolean indexing and the sum function to determine how much points Chelsea have amounted in the last 22 years.

ChelseaTotalPoints = PL_Seasons.loc[PL_Seasons['Team'] == 'Chelsea', 'Pts'].sum()
print("Chelseas total Premier League points scoring tally from 2000-2022:",ChelseaTotalPoints,"pts")

Chelseas total Premier League points scoring tally from 2000-2022: 1665 pts

In [138]:
#Below we use Boolean indexing and the sum function to determine how much points Chelsea have amounted in the last 22 years.
liverpoolmin = PL_Seasons.loc[PL_Seasons['Team'] == 'Liverpool', 'Pts'].min()
liverpoolmax = PL_Seasons.loc[PL_Seasons['Team'] == 'Liverpool', 'Pts'].max()
print("Liverpool's lowest points scoring season:",liverpoolmin,"pts")
print("Liverpool's lowest points scoring season:",liverpoolmax,"pts")

Liverpool's lowest points scoring season: 52 pts
Liverpool's lowest points scoring season: 99 pts

In [65]:
#In order to alter the season column (which is set to index on default) then we must use the .reset_index() function.
#This will create a new index column called 'index' and number each row sequentially to the length of the dataframe.
#This will make Season now column 0

PL_Seasons.reset_index(inplace=True)
PL_Seasons.iat[0,0]=2000
print(PL_Seasons)

      Season   Pos               Team  Pld   W   D   L  GF  GA  GD  Pts  \
0       2000  2000  Manchester United   38  24   8   6  79  31  48   80
1    2000-01     2            Arsenal   38  20  10   8  63  38  25   70
2    2000-01     3          Liverpool   38  20   9   9  71  39  32   69
3    2000-01     4       Leeds United   38  20   8  10  64  43  21   68
4    2000-01     5       Ipswich Town   38  20   6  12  57  42  15   66
..       ...   ...                ...  ...  ..  ..  ..  ..  ..  ..  ...
435  2021-22    16            Everton   38  11   6  21  43  66 -23   39
436  2021-22    17       Leeds United   38   9  11  18  42  79 -37   38
437  2021-22    18            Burnley   38   7  14  17  34  53 -19   35
438  2021-22    19            Watford   38   6   5  27  34  77 -43   23
439  2021-22  2000       Norwich City   38   5   7  26  23  84 -61   22

                           Qualification or relegation
0    Qualification for the Champions League first g...
1    Qualification for the Champions League first g...
2    Qualification for the Champions League third q...
3        Qualification for the UEFA Cup first round[a]
4        Qualification for the UEFA Cup first round[a]
..                                                 ...
435                                     Not Applicable
436                                     Not Applicable
437                 Relegation to the EFL Championship
438                 Relegation to the EFL Championship
439                 Relegation to the EFL Championship

[440 rows x 12 columns]

In [47]:


print(PL)

         Pos               Team  Pld   W   D   L  GF  GA  GD  Pts  \
Season
2000-01    1  Manchester United   38  24   8   6  79  31  48   80
2000-01    2            Arsenal   38  20  10   8  63  38  25   70
2000-01    3          Liverpool   38  20   9   9  71  39  32   69
2000-01    4       Leeds United   38  20   8  10  64  43  21   68
2000-01    5       Ipswich Town   38  20   6  12  57  42  15   66
...      ...                ...  ...  ..  ..  ..  ..  ..  ..  ...
2021-22   16            Everton   38  11   6  21  43  66 -23   39
2021-22   17       Leeds United   38   9  11  18  42  79 -37   38
2021-22   18            Burnley   38   7  14  17  34  53 -19   35
2021-22   19            Watford   38   6   5  27  34  77 -43   23
2021-22   20       Norwich City   38   5   7  26  23  84 -61   22

                               Qualification or relegation
Season
2000-01  Qualification for the Champions League first g...
2000-01  Qualification for the Champions League first g...
2000-01  Qualification for the Champions League third q...
2000-01      Qualification for the UEFA Cup first round[a]
2000-01      Qualification for the UEFA Cup first round[a]
...                                                    ...
2021-22                                     Not Applicable
2021-22                                     Not Applicable
2021-22                 Relegation to the EFL Championship
2021-22                 Relegation to the EFL Championship
2021-22                 Relegation to the EFL Championship

[440 rows x 11 columns]

In [ ]:
#PL[(PL['Season'] <= 2011) & (PL['Season'] >= 2008)]