In [58]:
#Pulls from dataset "EPL Standings 2000-2022.csv" and converts it into a dataframe
#This is a dataset of all the English Premier League standings from 2000 - 2022
#We import pandas for our use of dataframes
#The creation of the class colour will be referenced in instances where we need to call upon difference CSS colours in 
#order to better convey our analysis

import pandas as pd
import numpy as np

class colour:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

PL = pd.read_csv("EPL Standings 2000-2022.csv",index_col = 0)
PL

,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
Season,,,,,,,,,,,
2000-01,1,Manchester United,38,24,8,6,79,31,48,80,Qualification for the Champions League first g...
2000-01,2,Arsenal,38,20,10,8,63,38,25,70,Qualification for the Champions League first g...
2000-01,3,Liverpool,38,20,9,9,71,39,32,69,Qualification for the Champions League third q...
2000-01,4,Leeds United,38,20,8,10,64,43,21,68,Qualification for the UEFA Cup first round[a]
2000-01,5,Ipswich Town,38,20,6,12,57,42,15,66,Qualification for the UEFA Cup first round[a]
...,...,...,...,...,...,...,...,...,...,...,...
2021-22,16,Everton,38,11,6,21,43,66,-23,39,Not Applicable
2021-22,17,Leeds United,38,9,11,18,42,79,-37,38,Not Applicable
2021-22,18,Burnley,38,7,14,17,34,53,-19,35,Relegation to the EFL Championship
2021-22,19,Watford,38,6,5,27,34,77,-43,23,Relegation to the EFL Championship
2021-22,20,Norwich City,38,5,7,26,23,84,-61,22,Relegation to the EFL Championship

In [3]:
#View of the dataframe

print(PL.head())

         Pos               Team  Pld   W   D   L  GF  GA  GD  Pts  \
Season
2000-01    1  Manchester United   38  24   8   6  79  31  48   80
2000-01    2            Arsenal   38  20  10   8  63  38  25   70
2000-01    3          Liverpool   38  20   9   9  71  39  32   69
2000-01    4       Leeds United   38  20   8  10  64  43  21   68
2000-01    5       Ipswich Town   38  20   6  12  57  42  15   66

                               Qualification or relegation
Season
2000-01  Qualification for the Champions League first g...
2000-01  Qualification for the Champions League first g...
2000-01  Qualification for the Champions League third q...
2000-01      Qualification for the UEFA Cup first round[a]
2000-01      Qualification for the UEFA Cup first round[a]

In [4]:
#Count of rows and columns

print(PL.shape)

(440, 11)

In [5]:
#Checking if there are any data gaps

missing_values_count = PL.isnull().sum()
print(missing_values_count[0:11])

Pos                            0
Team                           0
Pld                            0
W                              0
D                              0
L                              0
GF                             0
GA                             0
GD                             0
Pts                            0
Qualification or relegation    0
dtype: int64

In [6]:
#Data Cleaning
#Drop any rows that are duplicates

drop_duplicates= PL.drop_duplicates()
print(PL.shape,drop_duplicates.shape)

(440, 11) (440, 11)

In [7]:
#Sorting & Filtering
#Making a duplicate of the PL dataframe using the copy function in order to still keep the original 
#also be able to alter PL_Seasons without fear of any data loss


PL_Seasons = PL.copy()
print(PL_Seasons)

         Pos               Team  Pld   W   D   L  GF  GA  GD  Pts  \
Season
2000-01    1  Manchester United   38  24   8   6  79  31  48   80
2000-01    2            Arsenal   38  20  10   8  63  38  25   70
2000-01    3          Liverpool   38  20   9   9  71  39  32   69
2000-01    4       Leeds United   38  20   8  10  64  43  21   68
2000-01    5       Ipswich Town   38  20   6  12  57  42  15   66
...      ...                ...  ...  ..  ..  ..  ..  ..  ..  ...
2021-22   16            Everton   38  11   6  21  43  66 -23   39
2021-22   17       Leeds United   38   9  11  18  42  79 -37   38
2021-22   18            Burnley   38   7  14  17  34  53 -19   35
2021-22   19            Watford   38   6   5  27  34  77 -43   23
2021-22   20       Norwich City   38   5   7  26  23  84 -61   22

                               Qualification or relegation
Season
2000-01  Qualification for the Champions League first g...
2000-01  Qualification for the Champions League first g...
2000-01  Qualification for the Champions League third q...
2000-01      Qualification for the UEFA Cup first round[a]
2000-01      Qualification for the UEFA Cup first round[a]
...                                                    ...
2021-22                                     Not Applicable
2021-22                                     Not Applicable
2021-22                 Relegation to the EFL Championship
2021-22                 Relegation to the EFL Championship
2021-22                 Relegation to the EFL Championship

[440 rows x 11 columns]

In [8]:
#Simple way of pulling the first season out of the dataframe

result = PL_Seasons.head(20)
print("First Season of the DataFrame:")
print(result)

First Season of the DataFrame:
         Pos               Team  Pld   W   D   L  GF  GA  GD  Pts  \
Season
2000-01    1  Manchester United   38  24   8   6  79  31  48   80
2000-01    2            Arsenal   38  20  10   8  63  38  25   70
2000-01    3          Liverpool   38  20   9   9  71  39  32   69
2000-01    4       Leeds United   38  20   8  10  64  43  21   68
2000-01    5       Ipswich Town   38  20   6  12  57  42  15   66
2000-01    6            Chelsea   38  17  10  11  68  45  23   61
2000-01    7         Sunderland   38  15  12  11  46  41   5   57
2000-01    8        Aston Villa   38  13  15  10  46  43   3   54
2000-01    9  Charlton Athletic   38  14  10  14  50  57  -7   52
2000-01   10        Southampton   38  14  10  14  40  48  -8   52
2000-01   11   Newcastle United   38  14   9  15  44  50  -6   51
2000-01   12  Tottenham Hotspur   38  13  10  15  47  54  -7   49
2000-01   13     Leicester City   38  14   6  18  39  51 -12   48
2000-01   14      Middlesbrough   38   9  15  14  44  44   0   42
2000-01   15    West Ham United   38  10  12  16  45  50  -5   42
2000-01   16            Everton   38  11   9  18  45  59 -14   42
2000-01   17       Derby County   38  10  12  16  37  59 -22   42
2000-01   18    Manchester City   38   8  10  20  41  65 -24   34
2000-01   19      Coventry City   38   8  10  20  36  63 -27   34
2000-01   20      Bradford City   38   5  11  22  30  70 -40   26

                               Qualification or relegation
Season
2000-01  Qualification for the Champions League first g...
2000-01  Qualification for the Champions League first g...
2000-01  Qualification for the Champions League third q...
2000-01      Qualification for the UEFA Cup first round[a]
2000-01      Qualification for the UEFA Cup first round[a]
2000-01      Qualification for the UEFA Cup first round[a]
2000-01                                     Not Applicable
2000-01    Qualification for the Intertoto Cup third round
2000-01                                     Not Applicable
2000-01                                     Not Applicable
2000-01    Qualification for the Intertoto Cup third round
2000-01                                     Not Applicable
2000-01                                     Not Applicable
2000-01                                     Not Applicable
2000-01                                     Not Applicable
2000-01                                     Not Applicable
2000-01                                     Not Applicable
2000-01   Relegation to the Football League First Division
2000-01   Relegation to the Football League First Division
2000-01   Relegation to the Football League First Division

In [9]:
#Selecting by position
#Select single value by row & column

PL_Seasons.iloc[[7],[7]]

         GA
Season
2000-01  43

In [10]:
#Selecting by Label & Position
#The below code gives a list of all the teams in each season of the dataframe.

PL_Seasons.iloc[:, 1]

Season
2000-01    Manchester United
2000-01              Arsenal
2000-01            Liverpool
2000-01         Leeds United
2000-01         Ipswich Town
                 ...
2021-22              Everton
2021-22         Leeds United
2021-22              Burnley
2021-22              Watford
2021-22         Norwich City
Name: Team, Length: 440, dtype: object

In [11]:
#A view of every team that finished the season with over 90 points.
#This method of selecting is a form of Boolean Indexing

PL_Seasons[PL_Seasons['Pts']>90]

,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
Season,,,,,,,,,,,
2004-05,1,Chelsea,38,29,8,1,72,15,57,95,Qualification for the Champions League group s...
2005-06,1,Chelsea,38,29,4,5,72,22,50,91,Qualification for the Champions League group s...
2016-17,1,Chelsea,38,30,3,5,85,33,52,93,Qualification for the Champions League group s...
2017-18,1,Manchester City,38,32,4,2,106,27,79,100,Qualification for the Champions League group s...
2018-19,1,Manchester City,38,32,2,4,95,23,72,98,Qualification for the Champions League group s...
2018-19,2,Liverpool,38,30,7,1,89,22,67,97,Qualification for the Champions League group s...
2019-20,1,Liverpool,38,32,3,3,85,33,52,99,Qualification for the Champions League group s...
2021-22,1,Manchester City,38,29,6,3,99,26,73,93,Qualification for the Champions League group s...
2021-22,2,Liverpool,38,28,8,2,94,26,68,92,Qualification for the Champions League group s...

In [46]:
# This returns the mean of values
# Here we use the mean function to find out the mean of the Points and Goals against columns 

PL_Average_W = PL_Seasons[["W"]].mean().astype(int)

print(PL_Average_W)

W    14
dtype: int32

In [13]:
# Here we are using the median function to compare the difference between the results for mean and median

PL_Seasons[["Pts","GA"]].median()

Pts    48.0
GA     51.0
dtype: float64

In [14]:
#Below we use Boolean indexing and the sum function to determine how much points Chelsea have amounted in the last 22 years.

ChelseaTotalPoints = PL_Seasons.loc[PL_Seasons['Team'] == 'Chelsea', 'Pts'].sum()
print("Chelseas total Premier League points scoring tally from 2000-2022:",ChelseaTotalPoints,"pts")

Chelseas total Premier League points scoring tally from 2000-2022: 1665 pts

In [15]:
#Below we use Boolean indexing and the sum function to determine how much points Chelsea have amounted in the last 22 years.
liverpoolmin = PL_Seasons.loc[PL_Seasons['Team'] == 'Liverpool', 'Pts'].min()
liverpoolmax = PL_Seasons.loc[PL_Seasons['Team'] == 'Liverpool', 'Pts'].max()
print("Liverpool's lowest points scoring season:",liverpoolmin,"pts")
print("Liverpool's lowest points scoring season:",liverpoolmax,"pts")

Liverpool's lowest points scoring season: 52 pts
Liverpool's lowest points scoring season: 99 pts

In [16]:
#.describe() can be used by data analysts to give a summary of statistics in a dataframe

PL_Seasons.describe()

,Pos,Pld,W,D,L,GF,GA,GD,Pts
count,440.000000,440.0,440.000000,440.000000,440.000000,440.000000,440.000000,440.00000,440.000000
mean,10.500000,38.0,14.261364,9.477273,14.261364,50.863636,50.863636,0.00000,52.240909
std,5.772845,0.0,5.987638,2.856385,5.548080,15.778205,12.893450,26.02627,17.097234
min,1.000000,38.0,1.000000,2.000000,0.000000,20.000000,15.000000,-69.00000,11.000000
25%,5.750000,38.0,10.000000,7.000000,10.000000,40.000000,42.000000,-19.00000,40.750000
50%,10.500000,38.0,13.000000,9.000000,15.000000,47.000000,51.000000,-6.00000,48.000000
75%,15.250000,38.0,18.000000,11.000000,18.000000,60.000000,59.000000,16.00000,63.250000
max,20.000000,38.0,32.000000,17.000000,29.000000,106.000000,89.000000,79.00000,100.000000

In [17]:
#In order to alter the season column (which is set to index on default) then we must use the .reset_index() function.
#This will create a new index column called 'index' and number each row sequentially to the length of the dataframe.
#This will make Season now column 0

PL_Seasons.reset_index(inplace=True)

#PL_Seasons.iat[0,0]=2000
print(PL_Seasons)

      Season  Pos               Team  Pld   W   D   L  GF  GA  GD  Pts  \
0    2000-01    1  Manchester United   38  24   8   6  79  31  48   80
1    2000-01    2            Arsenal   38  20  10   8  63  38  25   70
2    2000-01    3          Liverpool   38  20   9   9  71  39  32   69
3    2000-01    4       Leeds United   38  20   8  10  64  43  21   68
4    2000-01    5       Ipswich Town   38  20   6  12  57  42  15   66
..       ...  ...                ...  ...  ..  ..  ..  ..  ..  ..  ...
435  2021-22   16            Everton   38  11   6  21  43  66 -23   39
436  2021-22   17       Leeds United   38   9  11  18  42  79 -37   38
437  2021-22   18            Burnley   38   7  14  17  34  53 -19   35
438  2021-22   19            Watford   38   6   5  27  34  77 -43   23
439  2021-22   20       Norwich City   38   5   7  26  23  84 -61   22

                           Qualification or relegation
0    Qualification for the Champions League first g...
1    Qualification for the Champions League first g...
2    Qualification for the Champions League third q...
3        Qualification for the UEFA Cup first round[a]
4        Qualification for the UEFA Cup first round[a]
..                                                 ...
435                                     Not Applicable
436                                     Not Applicable
437                 Relegation to the EFL Championship
438                 Relegation to the EFL Championship
439                 Relegation to the EFL Championship

[440 rows x 12 columns]

In [23]:
#Using .loc we can change the values of all the year (which were strings) to integer equivalents.

PL_Seasons.loc[PL_Seasons['Season'] == '2000-01', 'Season'] = 2000
PL_Seasons.loc[PL_Seasons['Season'] == '2001-02', 'Season'] = 2001
PL_Seasons.loc[PL_Seasons['Season'] == '2002-03', 'Season'] = 2002
PL_Seasons.loc[PL_Seasons['Season'] == '2003-04', 'Season'] = 2003
PL_Seasons.loc[PL_Seasons['Season'] == '2004-05', 'Season'] = 2004
PL_Seasons.loc[PL_Seasons['Season'] == '2005-06', 'Season'] = 2005
PL_Seasons.loc[PL_Seasons['Season'] == '2006-07', 'Season'] = 2006
PL_Seasons.loc[PL_Seasons['Season'] == '2007-08', 'Season'] = 2007
PL_Seasons.loc[PL_Seasons['Season'] == '2008-09', 'Season'] = 2008
PL_Seasons.loc[PL_Seasons['Season'] == '2009-10', 'Season'] = 2009
PL_Seasons.loc[PL_Seasons['Season'] == '2010-11', 'Season'] = 2010
PL_Seasons.loc[PL_Seasons['Season'] == '2011-12', 'Season'] = 2011
PL_Seasons.loc[PL_Seasons['Season'] == '2012-13', 'Season'] = 2012
PL_Seasons.loc[PL_Seasons['Season'] == '2013-14', 'Season'] = 2013
PL_Seasons.loc[PL_Seasons['Season'] == '2014-15', 'Season'] = 2014
PL_Seasons.loc[PL_Seasons['Season'] == '2015-16', 'Season'] = 2015
PL_Seasons.loc[PL_Seasons['Season'] == '2016-17', 'Season'] = 2016
PL_Seasons.loc[PL_Seasons['Season'] == '2017-18', 'Season'] = 2017
PL_Seasons.loc[PL_Seasons['Season'] == '2018-19', 'Season'] = 2018
PL_Seasons.loc[PL_Seasons['Season'] == '2019-20', 'Season'] = 2019
PL_Seasons.loc[PL_Seasons['Season'] == '2020-21', 'Season'] = 2020
PL_Seasons.loc[PL_Seasons['Season'] == '2021-22', 'Season'] = 2021
print(PL_Seasons)

    Season  Pos               Team  Pld   W   D   L  GF  GA  GD  Pts  \
0     2000    1  Manchester United   38  24   8   6  79  31  48   80
1     2000    2            Arsenal   38  20  10   8  63  38  25   70
2     2000    3          Liverpool   38  20   9   9  71  39  32   69
3     2000    4       Leeds United   38  20   8  10  64  43  21   68
4     2000    5       Ipswich Town   38  20   6  12  57  42  15   66
..     ...  ...                ...  ...  ..  ..  ..  ..  ..  ..  ...
435   2021   16            Everton   38  11   6  21  43  66 -23   39
436   2021   17       Leeds United   38   9  11  18  42  79 -37   38
437   2021   18            Burnley   38   7  14  17  34  53 -19   35
438   2021   19            Watford   38   6   5  27  34  77 -43   23
439   2021   20       Norwich City   38   5   7  26  23  84 -61   22

                           Qualification or relegation
0    Qualification for the Champions League first g...
1    Qualification for the Champions League first g...
2    Qualification for the Champions League third q...
3        Qualification for the UEFA Cup first round[a]
4        Qualification for the UEFA Cup first round[a]
..                                                 ...
435                                     Not Applicable
436                                     Not Applicable
437                 Relegation to the EFL Championship
438                 Relegation to the EFL Championship
439                 Relegation to the EFL Championship

[440 rows x 12 columns]

In [26]:
#Now we can use the integers in 'Season' to pick and choose which years we want to view.
#As seen below being integers we can now use them in conjunction with > < >= <= etc to pull mulitple years.
#In the below example we pull the data from Manchester United's 2008-2011 seasons.

PL_Seasons[(PL_Seasons['Season'] <= 2011) & (PL_Seasons['Season'] >= 2008)& (PL_Seasons['Team'] == 'Manchester United')]

,Season,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
160,2008,1,Manchester United,38,28,6,4,68,24,44,90,Qualification for the Champions League group s...
181,2009,2,Manchester United,38,27,4,7,86,28,58,85,Qualification for the Champions League group s...
200,2010,1,Manchester United,38,23,11,4,78,37,41,80,Qualification for the Champions League group s...
221,2011,2,Manchester United,38,28,5,5,89,33,56,89,Qualification for the Champions League group s...

In [63]:
#Using the .groupby() function we can get the mean of each teams data over the 22 years and present it consisely

Teams_Grouped = PL_Seasons.groupby(["Team"]).mean()
Teams_Grouped

,Pos,Pld,W,D,L,GF,GA,GD,Pts
Team,,,,,,,,,
Arsenal,3.772727,38.0,21.363636,8.772727,7.863636,70.954545,39.818182,31.136364,72.863636
Aston Villa,11.947368,38.0,11.842105,11.052632,15.105263,45.578947,53.105263,-7.526316,46.578947
Birmingham City,14.142857,38.0,10.428571,11.714286,15.857143,39.000000,51.428571,-12.428571,43.000000
Blackburn Rovers,11.636364,38.0,12.727273,10.000000,15.272727,47.090909,53.818182,-6.727273,48.181818
Blackpool,19.000000,38.0,10.000000,9.000000,19.000000,55.000000,78.000000,-23.000000,39.000000
Bolton Wanderers,12.454545,38.0,12.000000,10.000000,16.000000,45.000000,55.727273,-10.727273,46.000000
Bournemouth,13.800000,38.0,11.200000,8.600000,18.200000,48.200000,66.000000,-17.800000,42.200000
Bradford City,20.000000,38.0,5.000000,11.000000,22.000000,30.000000,70.000000,-40.000000,26.000000
Brentford,13.000000,38.0,13.000000,7.000000,18.000000,48.000000,56.000000,-8.000000,46.000000
Brighton & Hove Albion,14.400000,38.0,9.600000,13.000000,15.400000,38.000000,51.600000,-13.600000,41.800000
Burnley,15.000000,38.0,10.375000,9.500000,18.125000,37.500000,56.875000,-19.375000,40.625000
Cardiff City,19.000000,38.0,8.500000,6.500000,23.000000,33.000000,71.500000,-38.500000,32.000000
Charlton Athletic,12.142857,38.0,12.142857,10.000000,15.857143,43.000000,55.142857,-12.142857,46.428571
Chelsea,3.318182,38.0,22.363636,8.590909,7.045455,69.909091,34.409091,35.500000,75.681818
Coventry City,19.000000,38.0,8.000000,10.000000,20.000000,36.000000,63.000000,-27.000000,34.000000
Crystal Palace,13.100000,38.0,11.500000,9.200000,17.300000,42.800000,54.500000,-11.700000,43.700000
Derby County,18.666667,38.0,6.333333,8.666667,23.000000,30.000000,70.333333,-40.333333,27.666667
Everton,9.181818,38.0,14.590909,10.363636,13.045455,50.090909,48.136364,1.954545,54.136364
Fulham,13.200000,38.0,10.800000,10.266667,16.933333,42.066667,55.400000,-13.333333,42.666667
Huddersfield Town,18.000000,38.0,6.000000,8.500000,23.500000,25.000000,67.000000,-42.000000,26.500000
Hull City,17.600000,38.0,8.200000,9.600000,20.200000,36.200000,64.600000,-28.400000,34.200000
Ipswich Town,11.500000,38.0,14.500000,7.500000,16.000000,49.000000,53.000000,-4.000000,51.000000
Leeds United,11.500000,38.0,14.500000,8.333333,15.166667,53.166667,58.166667,-5.000000,51.833333
Leicester City,10.363636,38.0,13.636364,9.454545,14.909091,53.000000,53.818182,-0.818182,50.363636
Liverpool,4.136364,38.0,21.090909,9.045455,7.863636,68.909091,36.727273,32.181818,72.318182
Manchester City,6.000000,38.0,20.380952,7.428571,10.190476,70.380952,40.285714,30.095238,68.571429
Manchester United,2.863636,38.0,23.045455,8.045455,6.909091,71.000000,35.545455,35.454545,77.181818
Middlesbrough,13.200000,38.0,10.700000,11.100000,16.200000,41.400000,50.300000,-8.900000,43.200000
Newcastle United,11.100000,38.0,13.000000,9.650000,15.350000,47.150000,55.000000,-7.850000,48.650000
Norwich City,17.000000,38.0,8.000000,9.428571,20.571429,35.857143,69.857143,-34.000000,33.428571
Portsmouth,13.857143,38.0,11.285714,9.285714,17.428571,41.714286,54.285714,-12.571429,41.857143
Queens Park Rangers,19.000000,38.0,7.333333,8.666667,22.000000,38.333333,66.333333,-28.000000,30.666667
Reading,15.000000,38.0,10.666667,7.666667,19.666667,45.333333,62.000000,-16.666667,39.666667
Sheffield United,15.666667,38.0,10.333333,7.333333,20.333333,30.333333,52.333333,-22.000000,38.333333
Southampton,11.866667,38.0,12.066667,10.733333,15.200000,46.533333,53.533333,-7.000000,46.933333
Stoke City,12.200000,38.0,11.600000,10.900000,15.500000,39.800000,52.500000,-12.700000,45.700000
Sunderland,15.357143,38.0,9.071429,9.928571,19.000000,37.142857,56.785714,-19.642857,37.142857
Swansea City,12.142857,38.0,11.714286,9.428571,16.857143,43.714286,54.714286,-11.000000,44.571429
Tottenham Hotspur,6.409091,38.0,17.863636,8.681818,11.454545,60.136364,45.954545,14.181818,62.272727
Watford,16.142857,38.0,9.571429,8.571429,19.857143,39.285714,63.000000,-23.714286,37.285714
West Bromwich Albion,15.153846,38.0,9.000000,10.692308,18.307692,39.230769,59.384615,-20.153846,37.692308
West Ham United,11.842105,38.0,12.526316,9.526316,15.947368,47.789474,55.789474,-8.000000,47.105263
Wigan Athletic,14.625000,38.0,10.625000,9.500000,17.875000,39.500000,60.250000,-20.750000,41.375000
Wolverhampton Wanderers,13.625000,38.0,11.250000,9.750000,17.000000,41.000000,57.750000,-16.750000,43.500000

In [66]:
#The below code sorts every team in descending order with the priority of columns being team then season then league position.

PL_Seasons.sort_values(
     by=["Team", "Season","Pos"],
     ascending=False
 )[["Team", "Season","Pos"]]

                        Team Season  Pos
429  Wolverhampton Wanderers   2021   10
412  Wolverhampton Wanderers   2020   13
386  Wolverhampton Wanderers   2019    7
366  Wolverhampton Wanderers   2018    7
239  Wolverhampton Wanderers   2011   20
..                       ...    ...  ...
81                   Arsenal   2004    2
60                   Arsenal   2003    1
41                   Arsenal   2002    2
20                   Arsenal   2001    1
1                    Arsenal   2000    2

[440 rows x 3 columns]

In [60]:
#Below we introduce a for loop which will help minimise the amount of code needed in the analysis.
#This for loop will loop continuously through the amount of values in the 'Wins' column until it has passed through them all
#For each row of the dataframe the for loop will check whether the teams wins that year were above the 22 year PL average.
#This PL win average was defined earlier in the project as an integer and is now being called back here as it is relevent.
#If the team had above average wins that year then the loop will return a sentence stating the year, team name and 
#that they have won more than the PL average, else it will return that they won less games than the average.
#The colour class is also used in the return to emphasise the result and help the readability of the sentence.
#The NumPy function .any() is used here to test whether any array element along a given axis evaluates to True.
#Without this function the loop would return a error saying a series cannot be used.

for i in range(len(PL_Seasons['W'])):
    if (PL_Seasons['W'][i] > PL_Average_W).any():
        print("In",PL_Seasons['Season'][i],PL_Seasons['Team'][i],"won ",colour.GREEN + color.BOLD + colour.UNDERLINE +"more"+ colour.END," games than the 22 year Premier League average.")
    elif (PL_Seasons['W'][i] < PL_Average_W).any():
        print("In",PL_Seasons['Season'][i],PL_Seasons['Team'][i],"won ",colour.RED + color.BOLD+ colour.UNDERLINE +"less"+ colour.END," games than the 22 year Premier League average.")

In 2000 Manchester United won  more  games than the 22 year Premier League average.
In 2000 Arsenal won  more  games than the 22 year Premier League average.
In 2000 Liverpool won  more  games than the 22 year Premier League average.
In 2000 Leeds United won  more  games than the 22 year Premier League average.
In 2000 Ipswich Town won  more  games than the 22 year Premier League average.
In 2000 Chelsea won  more  games than the 22 year Premier League average.
In 2000 Sunderland won  more  games than the 22 year Premier League average.
In 2000 Aston Villa won  less  games than the 22 year Premier League average.
In 2000 Tottenham Hotspur won  less  games than the 22 year Premier League average.
In 2000 Middlesbrough won  less  games than the 22 year Premier League average.
In 2000 West Ham United won  less  games than the 22 year Premier League average.
In 2000 Everton won  less  games than the 22 year Premier League average.
In 2000 Derby County won  less  games than the 22 year Premier League average.
In 2000 Manchester City won  less  games than the 22 year Premier League average.
In 2000 Coventry City won  less  games than the 22 year Premier League average.
In 2000 Bradford City won  less  games than the 22 year Premier League average.
In 2001 Arsenal won  more  games than the 22 year Premier League average.
In 2001 Liverpool won  more  games than the 22 year Premier League average.
In 2001 Manchester United won  more  games than the 22 year Premier League average.
In 2001 Newcastle United won  more  games than the 22 year Premier League average.
In 2001 Leeds United won  more  games than the 22 year Premier League average.
In 2001 Chelsea won  more  games than the 22 year Premier League average.
In 2001 West Ham United won  more  games than the 22 year Premier League average.
In 2001 Aston Villa won  less  games than the 22 year Premier League average.
In 2001 Blackburn Rovers won  less  games than the 22 year Premier League average.
In 2001 Southampton won  less  games than the 22 year Premier League average.
In 2001 Middlesbrough won  less  games than the 22 year Premier League average.
In 2001 Fulham won  less  games than the 22 year Premier League average.
In 2001 Charlton Athletic won  less  games than the 22 year Premier League average.
In 2001 Everton won  less  games than the 22 year Premier League average.
In 2001 Bolton Wanderers won  less  games than the 22 year Premier League average.
In 2001 Sunderland won  less  games than the 22 year Premier League average.
In 2001 Ipswich Town won  less  games than the 22 year Premier League average.
In 2001 Derby County won  less  games than the 22 year Premier League average.
In 2001 Leicester City won  less  games than the 22 year Premier League average.
In 2002 Manchester United won  more  games than the 22 year Premier League average.
In 2002 Arsenal won  more  games than the 22 year Premier League average.
In 2002 Newcastle United won  more  games than the 22 year Premier League average.
In 2002 Chelsea won  more  games than the 22 year Premier League average.
In 2002 Liverpool won  more  games than the 22 year Premier League average.
In 2002 Blackburn Rovers won  more  games than the 22 year Premier League average.
In 2002 Everton won  more  games than the 22 year Premier League average.
In 2002 Southampton won  less  games than the 22 year Premier League average.
In 2002 Manchester City won  more  games than the 22 year Premier League average.
In 2002 Middlesbrough won  less  games than the 22 year Premier League average.
In 2002 Birmingham City won  less  games than the 22 year Premier League average.
In 2002 Fulham won  less  games than the 22 year Premier League average.
In 2002 Aston Villa won  less  games than the 22 year Premier League average.
In 2002 Bolton Wanderers won  less  games than the 22 year Premier League average.
In 2002 West Ham United won  less  games than the 22 year Premier League average.
In 2002 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2002 Sunderland won  less  games than the 22 year Premier League average.
In 2003 Arsenal won  more  games than the 22 year Premier League average.
In 2003 Chelsea won  more  games than the 22 year Premier League average.
In 2003 Manchester United won  more  games than the 22 year Premier League average.
In 2003 Liverpool won  more  games than the 22 year Premier League average.
In 2003 Newcastle United won  less  games than the 22 year Premier League average.
In 2003 Aston Villa won  more  games than the 22 year Premier League average.
In 2003 Birmingham City won  less  games than the 22 year Premier League average.
In 2003 Middlesbrough won  less  games than the 22 year Premier League average.
In 2003 Southampton won  less  games than the 22 year Premier League average.
In 2003 Portsmouth won  less  games than the 22 year Premier League average.
In 2003 Tottenham Hotspur won  less  games than the 22 year Premier League average.
In 2003 Blackburn Rovers won  less  games than the 22 year Premier League average.
In 2003 Manchester City won  less  games than the 22 year Premier League average.
In 2003 Everton won  less  games than the 22 year Premier League average.
In 2003 Leicester City won  less  games than the 22 year Premier League average.
In 2003 Leeds United won  less  games than the 22 year Premier League average.
In 2003 Wolverhampton Wanderers won  less  games than the 22 year Premier League average.
In 2004 Chelsea won  more  games than the 22 year Premier League average.
In 2004 Arsenal won  more  games than the 22 year Premier League average.
In 2004 Manchester United won  more  games than the 22 year Premier League average.
In 2004 Everton won  more  games than the 22 year Premier League average.
In 2004 Liverpool won  more  games than the 22 year Premier League average.
In 2004 Bolton Wanderers won  more  games than the 22 year Premier League average.
In 2004 Manchester City won  less  games than the 22 year Premier League average.
In 2004 Aston Villa won  less  games than the 22 year Premier League average.
In 2004 Charlton Athletic won  less  games than the 22 year Premier League average.
In 2004 Birmingham City won  less  games than the 22 year Premier League average.
In 2004 Fulham won  less  games than the 22 year Premier League average.
In 2004 Newcastle United won  less  games than the 22 year Premier League average.
In 2004 Blackburn Rovers won  less  games than the 22 year Premier League average.
In 2004 Portsmouth won  less  games than the 22 year Premier League average.
In 2004 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2004 Crystal Palace won  less  games than the 22 year Premier League average.
In 2004 Norwich City won  less  games than the 22 year Premier League average.
In 2004 Southampton won  less  games than the 22 year Premier League average.
In 2005 Chelsea won  more  games than the 22 year Premier League average.
In 2005 Manchester United won  more  games than the 22 year Premier League average.
In 2005 Liverpool won  more  games than the 22 year Premier League average.
In 2005 Arsenal won  more  games than the 22 year Premier League average.
In 2005 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2005 Blackburn Rovers won  more  games than the 22 year Premier League average.
In 2005 Newcastle United won  more  games than the 22 year Premier League average.
In 2005 Bolton Wanderers won  more  games than the 22 year Premier League average.
In 2005 West Ham United won  more  games than the 22 year Premier League average.
In 2005 Wigan Athletic won  more  games than the 22 year Premier League average.
In 2005 Charlton Athletic won  less  games than the 22 year Premier League average.
In 2005 Middlesbrough won  less  games than the 22 year Premier League average.
In 2005 Manchester City won  less  games than the 22 year Premier League average.
In 2005 Aston Villa won  less  games than the 22 year Premier League average.
In 2005 Portsmouth won  less  games than the 22 year Premier League average.
In 2005 Birmingham City won  less  games than the 22 year Premier League average.
In 2005 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2005 Sunderland won  less  games than the 22 year Premier League average.
In 2006 Manchester United won  more  games than the 22 year Premier League average.
In 2006 Chelsea won  more  games than the 22 year Premier League average.
In 2006 Liverpool won  more  games than the 22 year Premier League average.
In 2006 Arsenal won  more  games than the 22 year Premier League average.
In 2006 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2006 Everton won  more  games than the 22 year Premier League average.
In 2006 Bolton Wanderers won  more  games than the 22 year Premier League average.
In 2006 Reading won  more  games than the 22 year Premier League average.
In 2006 Blackburn Rovers won  more  games than the 22 year Premier League average.
In 2006 Aston Villa won  less  games than the 22 year Premier League average.
In 2006 Middlesbrough won  less  games than the 22 year Premier League average.
In 2006 Newcastle United won  less  games than the 22 year Premier League average.
In 2006 Manchester City won  less  games than the 22 year Premier League average.
In 2006 West Ham United won  less  games than the 22 year Premier League average.
In 2006 Fulham won  less  games than the 22 year Premier League average.
In 2006 Wigan Athletic won  less  games than the 22 year Premier League average.
In 2006 Sheffield United won  less  games than the 22 year Premier League average.
In 2006 Charlton Athletic won  less  games than the 22 year Premier League average.
In 2006 Watford won  less  games than the 22 year Premier League average.
In 2007 Manchester United won  more  games than the 22 year Premier League average.
In 2007 Chelsea won  more  games than the 22 year Premier League average.
In 2007 Arsenal won  more  games than the 22 year Premier League average.
In 2007 Liverpool won  more  games than the 22 year Premier League average.
In 2007 Everton won  more  games than the 22 year Premier League average.
In 2007 Aston Villa won  more  games than the 22 year Premier League average.
In 2007 Blackburn Rovers won  more  games than the 22 year Premier League average.
In 2007 Portsmouth won  more  games than the 22 year Premier League average.
In 2007 Manchester City won  more  games than the 22 year Premier League average.

In 2007 West Ham United won  less  games than the 22 year Premier League average.
In 2007 Tottenham Hotspur won  less  games than the 22 year Premier League average.
In 2007 Newcastle United won  less  games than the 22 year Premier League average.
In 2007 Middlesbrough won  less  games than the 22 year Premier League average.
In 2007 Wigan Athletic won  less  games than the 22 year Premier League average.
In 2007 Sunderland won  less  games than the 22 year Premier League average.
In 2007 Bolton Wanderers won  less  games than the 22 year Premier League average.
In 2007 Fulham won  less  games than the 22 year Premier League average.
In 2007 Reading won  less  games than the 22 year Premier League average.
In 2007 Birmingham City won  less  games than the 22 year Premier League average.
In 2007 Derby County won  less  games than the 22 year Premier League average.
In 2008 Manchester United won  more  games than the 22 year Premier League average.
In 2008 Liverpool won  more  games than the 22 year Premier League average.
In 2008 Chelsea won  more  games than the 22 year Premier League average.
In 2008 Arsenal won  more  games than the 22 year Premier League average.
In 2008 Everton won  more  games than the 22 year Premier League average.
In 2008 Aston Villa won  more  games than the 22 year Premier League average.
In 2008 Manchester City won  more  games than the 22 year Premier League average.
In 2008 Wigan Athletic won  less  games than the 22 year Premier League average.
In 2008 Stoke City won  less  games than the 22 year Premier League average.
In 2008 Bolton Wanderers won  less  games than the 22 year Premier League average.
In 2008 Portsmouth won  less  games than the 22 year Premier League average.
In 2008 Blackburn Rovers won  less  games than the 22 year Premier League average.
In 2008 Sunderland won  less  games than the 22 year Premier League average.
In 2008 Hull City won  less  games than the 22 year Premier League average.
In 2008 Newcastle United won  less  games than the 22 year Premier League average.
In 2008 Middlesbrough won  less  games than the 22 year Premier League average.
In 2008 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2009 Chelsea won  more  games than the 22 year Premier League average.
In 2009 Manchester United won  more  games than the 22 year Premier League average.
In 2009 Arsenal won  more  games than the 22 year Premier League average.
In 2009 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2009 Manchester City won  more  games than the 22 year Premier League average.
In 2009 Aston Villa won  more  games than the 22 year Premier League average.
In 2009 Liverpool won  more  games than the 22 year Premier League average.
In 2009 Everton won  more  games than the 22 year Premier League average.
In 2009 Birmingham City won  less  games than the 22 year Premier League average.
In 2009 Blackburn Rovers won  less  games than the 22 year Premier League average.
In 2009 Stoke City won  less  games than the 22 year Premier League average.
In 2009 Fulham won  less  games than the 22 year Premier League average.
In 2009 Sunderland won  less  games than the 22 year Premier League average.
In 2009 Bolton Wanderers won  less  games than the 22 year Premier League average.
In 2009 Wolverhampton Wanderers won  less  games than the 22 year Premier League average.
In 2009 Wigan Athletic won  less  games than the 22 year Premier League average.
In 2009 West Ham United won  less  games than the 22 year Premier League average.
In 2009 Burnley won  less  games than the 22 year Premier League average.
In 2009 Hull City won  less  games than the 22 year Premier League average.
In 2009 Portsmouth won  less  games than the 22 year Premier League average.
In 2010 Manchester United won  more  games than the 22 year Premier League average.
In 2010 Chelsea won  more  games than the 22 year Premier League average.
In 2010 Manchester City won  more  games than the 22 year Premier League average.
In 2010 Arsenal won  more  games than the 22 year Premier League average.
In 2010 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2010 Liverpool won  more  games than the 22 year Premier League average.
In 2010 Everton won  less  games than the 22 year Premier League average.
In 2010 Fulham won  less  games than the 22 year Premier League average.
In 2010 Aston Villa won  less  games than the 22 year Premier League average.
In 2010 Sunderland won  less  games than the 22 year Premier League average.
In 2010 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2010 Newcastle United won  less  games than the 22 year Premier League average.
In 2010 Stoke City won  less  games than the 22 year Premier League average.
In 2010 Bolton Wanderers won  less  games than the 22 year Premier League average.
In 2010 Blackburn Rovers won  less  games than the 22 year Premier League average.
In 2010 Wigan Athletic won  less  games than the 22 year Premier League average.
In 2010 Wolverhampton Wanderers won  less  games than the 22 year Premier League average.
In 2010 Birmingham City won  less  games than the 22 year Premier League average.
In 2010 Blackpool won  less  games than the 22 year Premier League average.
In 2010 West Ham United won  less  games than the 22 year Premier League average.
In 2011 Manchester City won  more  games than the 22 year Premier League average.
In 2011 Manchester United won  more  games than the 22 year Premier League average.
In 2011 Arsenal won  more  games than the 22 year Premier League average.
In 2011 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2011 Newcastle United won  more  games than the 22 year Premier League average.
In 2011 Chelsea won  more  games than the 22 year Premier League average.
In 2011 Everton won  more  games than the 22 year Premier League average.
In 2011 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2011 Swansea City won  less  games than the 22 year Premier League average.
In 2011 Norwich City won  less  games than the 22 year Premier League average.
In 2011 Sunderland won  less  games than the 22 year Premier League average.
In 2011 Stoke City won  less  games than the 22 year Premier League average.
In 2011 Wigan Athletic won  less  games than the 22 year Premier League average.
In 2011 Aston Villa won  less  games than the 22 year Premier League average.
In 2011 Queens Park Rangers won  less  games than the 22 year Premier League average.
In 2011 Bolton Wanderers won  less  games than the 22 year Premier League average.
In 2011 Blackburn Rovers won  less  games than the 22 year Premier League average.
In 2011 Wolverhampton Wanderers won  less  games than the 22 year Premier League average.
In 2012 Manchester United won  more  games than the 22 year Premier League average.
In 2012 Manchester City won  more  games than the 22 year Premier League average.
In 2012 Chelsea won  more  games than the 22 year Premier League average.
In 2012 Arsenal won  more  games than the 22 year Premier League average.
In 2012 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2012 Everton won  more  games than the 22 year Premier League average.
In 2012 Liverpool won  more  games than the 22 year Premier League average.
In 2012 Swansea City won  less  games than the 22 year Premier League average.
In 2012 West Ham United won  less  games than the 22 year Premier League average.
In 2012 Norwich City won  less  games than the 22 year Premier League average.
In 2012 Fulham won  less  games than the 22 year Premier League average.
In 2012 Stoke City won  less  games than the 22 year Premier League average.
In 2012 Southampton won  less  games than the 22 year Premier League average.
In 2012 Aston Villa won  less  games than the 22 year Premier League average.
In 2012 Newcastle United won  less  games than the 22 year Premier League average.
In 2012 Sunderland won  less  games than the 22 year Premier League average.
In 2012 Wigan Athletic won  less  games than the 22 year Premier League average.
In 2012 Reading won  less  games than the 22 year Premier League average.
In 2012 Queens Park Rangers won  less  games than the 22 year Premier League average.
In 2013 Manchester City won  more  games than the 22 year Premier League average.
In 2013 Liverpool won  more  games than the 22 year Premier League average.
In 2013 Chelsea won  more  games than the 22 year Premier League average.
In 2013 Arsenal won  more  games than the 22 year Premier League average.
In 2013 Everton won  more  games than the 22 year Premier League average.
In 2013 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2013 Manchester United won  more  games than the 22 year Premier League average.
In 2013 Southampton won  more  games than the 22 year Premier League average.
In 2013 Stoke City won  less  games than the 22 year Premier League average.
In 2013 Newcastle United won  more  games than the 22 year Premier League average.
In 2013 Crystal Palace won  less  games than the 22 year Premier League average.
In 2013 Swansea City won  less  games than the 22 year Premier League average.
In 2013 West Ham United won  less  games than the 22 year Premier League average.
In 2013 Sunderland won  less  games than the 22 year Premier League average.
In 2013 Aston Villa won  less  games than the 22 year Premier League average.
In 2013 Hull City won  less  games than the 22 year Premier League average.
In 2013 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2013 Norwich City won  less  games than the 22 year Premier League average.
In 2013 Fulham won  less  games than the 22 year Premier League average.
In 2013 Cardiff City won  less  games than the 22 year Premier League average.
In 2014 Chelsea won  more  games than the 22 year Premier League average.
In 2014 Manchester City won  more  games than the 22 year Premier League average.
In 2014 Arsenal won  more  games than the 22 year Premier League average.
In 2014 Manchester United won  more  games than the 22 year Premier League average.
In 2014 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2014 Liverpool won  more  games than the 22 year Premier League average.

In 2014 Southampton won  more  games than the 22 year Premier League average.
In 2014 Swansea City won  more  games than the 22 year Premier League average.
In 2014 Stoke City won  more  games than the 22 year Premier League average.
In 2014 Crystal Palace won  less  games than the 22 year Premier League average.
In 2014 Everton won  less  games than the 22 year Premier League average.
In 2014 West Ham United won  less  games than the 22 year Premier League average.
In 2014 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2014 Leicester City won  less  games than the 22 year Premier League average.
In 2014 Newcastle United won  less  games than the 22 year Premier League average.
In 2014 Sunderland won  less  games than the 22 year Premier League average.
In 2014 Aston Villa won  less  games than the 22 year Premier League average.
In 2014 Hull City won  less  games than the 22 year Premier League average.
In 2014 Burnley won  less  games than the 22 year Premier League average.
In 2014 Queens Park Rangers won  less  games than the 22 year Premier League average.
In 2015 Leicester City won  more  games than the 22 year Premier League average.
In 2015 Arsenal won  more  games than the 22 year Premier League average.
In 2015 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2015 Manchester City won  more  games than the 22 year Premier League average.
In 2015 Manchester United won  more  games than the 22 year Premier League average.
In 2015 Southampton won  more  games than the 22 year Premier League average.
In 2015 West Ham United won  more  games than the 22 year Premier League average.
In 2015 Liverpool won  more  games than the 22 year Premier League average.
In 2015 Chelsea won  less  games than the 22 year Premier League average.
In 2015 Everton won  less  games than the 22 year Premier League average.
In 2015 Swansea City won  less  games than the 22 year Premier League average.
In 2015 Watford won  less  games than the 22 year Premier League average.
In 2015 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2015 Crystal Palace won  less  games than the 22 year Premier League average.
In 2015 Bournemouth won  less  games than the 22 year Premier League average.
In 2015 Sunderland won  less  games than the 22 year Premier League average.
In 2015 Newcastle United won  less  games than the 22 year Premier League average.
In 2015 Norwich City won  less  games than the 22 year Premier League average.
In 2015 Aston Villa won  less  games than the 22 year Premier League average.
In 2016 Chelsea won  more  games than the 22 year Premier League average.
In 2016 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2016 Manchester City won  more  games than the 22 year Premier League average.
In 2016 Liverpool won  more  games than the 22 year Premier League average.
In 2016 Arsenal won  more  games than the 22 year Premier League average.
In 2016 Manchester United won  more  games than the 22 year Premier League average.
In 2016 Everton won  more  games than the 22 year Premier League average.
In 2016 Southampton won  less  games than the 22 year Premier League average.
In 2016 Bournemouth won  less  games than the 22 year Premier League average.
In 2016 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2016 West Ham United won  less  games than the 22 year Premier League average.
In 2016 Leicester City won  less  games than the 22 year Premier League average.
In 2016 Stoke City won  less  games than the 22 year Premier League average.
In 2016 Crystal Palace won  less  games than the 22 year Premier League average.
In 2016 Swansea City won  less  games than the 22 year Premier League average.
In 2016 Burnley won  less  games than the 22 year Premier League average.
In 2016 Watford won  less  games than the 22 year Premier League average.
In 2016 Hull City won  less  games than the 22 year Premier League average.
In 2016 Middlesbrough won  less  games than the 22 year Premier League average.
In 2016 Sunderland won  less  games than the 22 year Premier League average.
In 2017 Manchester City won  more  games than the 22 year Premier League average.
In 2017 Manchester United won  more  games than the 22 year Premier League average.
In 2017 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2017 Liverpool won  more  games than the 22 year Premier League average.
In 2017 Chelsea won  more  games than the 22 year Premier League average.
In 2017 Arsenal won  more  games than the 22 year Premier League average.
In 2017 Everton won  less  games than the 22 year Premier League average.
In 2017 Leicester City won  less  games than the 22 year Premier League average.
In 2017 Newcastle United won  less  games than the 22 year Premier League average.
In 2017 Crystal Palace won  less  games than the 22 year Premier League average.
In 2017 Bournemouth won  less  games than the 22 year Premier League average.
In 2017 West Ham United won  less  games than the 22 year Premier League average.
In 2017 Watford won  less  games than the 22 year Premier League average.
In 2017 Brighton & Hove Albion won  less  games than the 22 year Premier League average.
In 2017 Huddersfield Town won  less  games than the 22 year Premier League average.
In 2017 Southampton won  less  games than the 22 year Premier League average.
In 2017 Swansea City won  less  games than the 22 year Premier League average.
In 2017 Stoke City won  less  games than the 22 year Premier League average.
In 2017 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2018 Manchester City won  more  games than the 22 year Premier League average.
In 2018 Liverpool won  more  games than the 22 year Premier League average.
In 2018 Chelsea won  more  games than the 22 year Premier League average.
In 2018 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2018 Arsenal won  more  games than the 22 year Premier League average.
In 2018 Manchester United won  more  games than the 22 year Premier League average.
In 2018 Wolverhampton Wanderers won  more  games than the 22 year Premier League average.
In 2018 Everton won  more  games than the 22 year Premier League average.
In 2018 Leicester City won  more  games than the 22 year Premier League average.
In 2018 West Ham United won  more  games than the 22 year Premier League average.
In 2018 Newcastle United won  less  games than the 22 year Premier League average.
In 2018 Bournemouth won  less  games than the 22 year Premier League average.
In 2018 Burnley won  less  games than the 22 year Premier League average.
In 2018 Southampton won  less  games than the 22 year Premier League average.
In 2018 Brighton & Hove Albion won  less  games than the 22 year Premier League average.
In 2018 Cardiff City won  less  games than the 22 year Premier League average.
In 2018 Fulham won  less  games than the 22 year Premier League average.
In 2018 Huddersfield Town won  less  games than the 22 year Premier League average.
In 2019 Liverpool won  more  games than the 22 year Premier League average.
In 2019 Manchester City won  more  games than the 22 year Premier League average.
In 2019 Manchester United won  more  games than the 22 year Premier League average.
In 2019 Chelsea won  more  games than the 22 year Premier League average.
In 2019 Leicester City won  more  games than the 22 year Premier League average.
In 2019 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2019 Wolverhampton Wanderers won  more  games than the 22 year Premier League average.
In 2019 Burnley won  more  games than the 22 year Premier League average.
In 2019 Southampton won  more  games than the 22 year Premier League average.
In 2019 Everton won  less  games than the 22 year Premier League average.
In 2019 Newcastle United won  less  games than the 22 year Premier League average.
In 2019 Crystal Palace won  less  games than the 22 year Premier League average.
In 2019 Brighton & Hove Albion won  less  games than the 22 year Premier League average.
In 2019 West Ham United won  less  games than the 22 year Premier League average.
In 2019 Aston Villa won  less  games than the 22 year Premier League average.
In 2019 Bournemouth won  less  games than the 22 year Premier League average.
In 2019 Watford won  less  games than the 22 year Premier League average.
In 2019 Norwich City won  less  games than the 22 year Premier League average.
In 2020 Manchester City won  more  games than the 22 year Premier League average.
In 2020 Manchester United won  more  games than the 22 year Premier League average.
In 2020 Liverpool won  more  games than the 22 year Premier League average.
In 2020 Chelsea won  more  games than the 22 year Premier League average.
In 2020 Leicester City won  more  games than the 22 year Premier League average.
In 2020 West Ham United won  more  games than the 22 year Premier League average.
In 2020 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2020 Arsenal won  more  games than the 22 year Premier League average.
In 2020 Leeds United won  more  games than the 22 year Premier League average.
In 2020 Everton won  more  games than the 22 year Premier League average.
In 2020 Aston Villa won  more  games than the 22 year Premier League average.
In 2020 Newcastle United won  less  games than the 22 year Premier League average.
In 2020 Wolverhampton Wanderers won  less  games than the 22 year Premier League average.
In 2020 Crystal Palace won  less  games than the 22 year Premier League average.
In 2020 Southampton won  less  games than the 22 year Premier League average.
In 2020 Brighton & Hove Albion won  less  games than the 22 year Premier League average.
In 2020 Burnley won  less  games than the 22 year Premier League average.
In 2020 Fulham won  less  games than the 22 year Premier League average.
In 2020 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2020 Sheffield United won  less  games than the 22 year Premier League average.
In 2021 Manchester City won  more  games than the 22 year Premier League average.
In 2021 Liverpool won  more  games than the 22 year Premier League average.
In 2021 Chelsea won  more  games than the 22 year Premier League average.
In 2021 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2021 Arsenal won  more  games than the 22 year Premier League average.
In 2021 Manchester United won  more  games than the 22 year Premier League average.
In 2021 West Ham United won  more  games than the 22 year Premier League average.
In 2021 Brighton & Hove Albion won  less  games than the 22 year Premier League average.
In 2021 Wolverhampton Wanderers won  more  games than the 22 year Premier League average.
In 2021 Newcastle United won  less  games than the 22 year Premier League average.
In 2021 Crystal Palace won  less  games than the 22 year Premier League average.
In 2021 Brentford won  less  games than the 22 year Premier League average.
In 2021 Aston Villa won  less  games than the 22 year Premier League average.
In 2021 Southampton won  less  games than the 22 year Premier League average.
In 2021 Everton won  less  games than the 22 year Premier League average.
In 2021 Leeds United won  less  games than the 22 year Premier League average.
In 2021 Burnley won  less  games than the 22 year Premier League average.
In 2021 Watford won  less  games than the 22 year Premier League average.
In 2021 Norwich City won  less  games than the 22 year Premier League average.

In [62]:
for i in range(len(PL_Seasons['Team'])):
    if (PL_Seasons['W'][i] > PL_Average_W).any():
        print("In",PL_Seasons['Season'][i],PL_Seasons['Team'][i],"won ",colour.GREEN + color.BOLD + colour.UNDERLINE +"more"+ colour.END," games than the 22 year Premier League average.")
    elif (PL_Seasons['W'][i] < PL_Average_W).any():
        print("In",PL_Seasons['Season'][i],PL_Seasons['Team'][i],"won ",colour.RED + color.BOLD+ colour.UNDERLINE +"less"+ colour.END," games than the 22 year Premier League average.")

In 2000 Manchester United won  more  games than the 22 year Premier League average.
In 2000 Arsenal won  more  games than the 22 year Premier League average.
In 2000 Liverpool won  more  games than the 22 year Premier League average.
In 2000 Leeds United won  more  games than the 22 year Premier League average.
In 2000 Ipswich Town won  more  games than the 22 year Premier League average.
In 2000 Chelsea won  more  games than the 22 year Premier League average.
In 2000 Sunderland won  more  games than the 22 year Premier League average.
In 2000 Aston Villa won  less  games than the 22 year Premier League average.
In 2000 Tottenham Hotspur won  less  games than the 22 year Premier League average.
In 2000 Middlesbrough won  less  games than the 22 year Premier League average.
In 2000 West Ham United won  less  games than the 22 year Premier League average.
In 2000 Everton won  less  games than the 22 year Premier League average.
In 2000 Derby County won  less  games than the 22 year Premier League average.
In 2000 Manchester City won  less  games than the 22 year Premier League average.
In 2000 Coventry City won  less  games than the 22 year Premier League average.
In 2000 Bradford City won  less  games than the 22 year Premier League average.
In 2001 Arsenal won  more  games than the 22 year Premier League average.
In 2001 Liverpool won  more  games than the 22 year Premier League average.
In 2001 Manchester United won  more  games than the 22 year Premier League average.
In 2001 Newcastle United won  more  games than the 22 year Premier League average.
In 2001 Leeds United won  more  games than the 22 year Premier League average.
In 2001 Chelsea won  more  games than the 22 year Premier League average.
In 2001 West Ham United won  more  games than the 22 year Premier League average.
In 2001 Aston Villa won  less  games than the 22 year Premier League average.
In 2001 Blackburn Rovers won  less  games than the 22 year Premier League average.
In 2001 Southampton won  less  games than the 22 year Premier League average.
In 2001 Middlesbrough won  less  games than the 22 year Premier League average.
In 2001 Fulham won  less  games than the 22 year Premier League average.
In 2001 Charlton Athletic won  less  games than the 22 year Premier League average.
In 2001 Everton won  less  games than the 22 year Premier League average.
In 2001 Bolton Wanderers won  less  games than the 22 year Premier League average.
In 2001 Sunderland won  less  games than the 22 year Premier League average.
In 2001 Ipswich Town won  less  games than the 22 year Premier League average.
In 2001 Derby County won  less  games than the 22 year Premier League average.
In 2001 Leicester City won  less  games than the 22 year Premier League average.
In 2002 Manchester United won  more  games than the 22 year Premier League average.
In 2002 Arsenal won  more  games than the 22 year Premier League average.
In 2002 Newcastle United won  more  games than the 22 year Premier League average.
In 2002 Chelsea won  more  games than the 22 year Premier League average.
In 2002 Liverpool won  more  games than the 22 year Premier League average.
In 2002 Blackburn Rovers won  more  games than the 22 year Premier League average.
In 2002 Everton won  more  games than the 22 year Premier League average.
In 2002 Southampton won  less  games than the 22 year Premier League average.
In 2002 Manchester City won  more  games than the 22 year Premier League average.
In 2002 Middlesbrough won  less  games than the 22 year Premier League average.
In 2002 Birmingham City won  less  games than the 22 year Premier League average.
In 2002 Fulham won  less  games than the 22 year Premier League average.
In 2002 Aston Villa won  less  games than the 22 year Premier League average.
In 2002 Bolton Wanderers won  less  games than the 22 year Premier League average.
In 2002 West Ham United won  less  games than the 22 year Premier League average.
In 2002 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2002 Sunderland won  less  games than the 22 year Premier League average.
In 2003 Arsenal won  more  games than the 22 year Premier League average.
In 2003 Chelsea won  more  games than the 22 year Premier League average.
In 2003 Manchester United won  more  games than the 22 year Premier League average.
In 2003 Liverpool won  more  games than the 22 year Premier League average.
In 2003 Newcastle United won  less  games than the 22 year Premier League average.
In 2003 Aston Villa won  more  games than the 22 year Premier League average.
In 2003 Birmingham City won  less  games than the 22 year Premier League average.
In 2003 Middlesbrough won  less  games than the 22 year Premier League average.
In 2003 Southampton won  less  games than the 22 year Premier League average.
In 2003 Portsmouth won  less  games than the 22 year Premier League average.
In 2003 Tottenham Hotspur won  less  games than the 22 year Premier League average.
In 2003 Blackburn Rovers won  less  games than the 22 year Premier League average.
In 2003 Manchester City won  less  games than the 22 year Premier League average.
In 2003 Everton won  less  games than the 22 year Premier League average.
In 2003 Leicester City won  less  games than the 22 year Premier League average.
In 2003 Leeds United won  less  games than the 22 year Premier League average.
In 2003 Wolverhampton Wanderers won  less  games than the 22 year Premier League average.
In 2004 Chelsea won  more  games than the 22 year Premier League average.
In 2004 Arsenal won  more  games than the 22 year Premier League average.
In 2004 Manchester United won  more  games than the 22 year Premier League average.
In 2004 Everton won  more  games than the 22 year Premier League average.
In 2004 Liverpool won  more  games than the 22 year Premier League average.
In 2004 Bolton Wanderers won  more  games than the 22 year Premier League average.
In 2004 Manchester City won  less  games than the 22 year Premier League average.
In 2004 Aston Villa won  less  games than the 22 year Premier League average.
In 2004 Charlton Athletic won  less  games than the 22 year Premier League average.
In 2004 Birmingham City won  less  games than the 22 year Premier League average.
In 2004 Fulham won  less  games than the 22 year Premier League average.
In 2004 Newcastle United won  less  games than the 22 year Premier League average.
In 2004 Blackburn Rovers won  less  games than the 22 year Premier League average.
In 2004 Portsmouth won  less  games than the 22 year Premier League average.
In 2004 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2004 Crystal Palace won  less  games than the 22 year Premier League average.
In 2004 Norwich City won  less  games than the 22 year Premier League average.
In 2004 Southampton won  less  games than the 22 year Premier League average.
In 2005 Chelsea won  more  games than the 22 year Premier League average.
In 2005 Manchester United won  more  games than the 22 year Premier League average.
In 2005 Liverpool won  more  games than the 22 year Premier League average.
In 2005 Arsenal won  more  games than the 22 year Premier League average.
In 2005 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2005 Blackburn Rovers won  more  games than the 22 year Premier League average.
In 2005 Newcastle United won  more  games than the 22 year Premier League average.
In 2005 Bolton Wanderers won  more  games than the 22 year Premier League average.
In 2005 West Ham United won  more  games than the 22 year Premier League average.
In 2005 Wigan Athletic won  more  games than the 22 year Premier League average.
In 2005 Charlton Athletic won  less  games than the 22 year Premier League average.
In 2005 Middlesbrough won  less  games than the 22 year Premier League average.
In 2005 Manchester City won  less  games than the 22 year Premier League average.
In 2005 Aston Villa won  less  games than the 22 year Premier League average.
In 2005 Portsmouth won  less  games than the 22 year Premier League average.
In 2005 Birmingham City won  less  games than the 22 year Premier League average.
In 2005 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2005 Sunderland won  less  games than the 22 year Premier League average.
In 2006 Manchester United won  more  games than the 22 year Premier League average.
In 2006 Chelsea won  more  games than the 22 year Premier League average.
In 2006 Liverpool won  more  games than the 22 year Premier League average.
In 2006 Arsenal won  more  games than the 22 year Premier League average.
In 2006 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2006 Everton won  more  games than the 22 year Premier League average.
In 2006 Bolton Wanderers won  more  games than the 22 year Premier League average.
In 2006 Reading won  more  games than the 22 year Premier League average.
In 2006 Blackburn Rovers won  more  games than the 22 year Premier League average.
In 2006 Aston Villa won  less  games than the 22 year Premier League average.
In 2006 Middlesbrough won  less  games than the 22 year Premier League average.
In 2006 Newcastle United won  less  games than the 22 year Premier League average.
In 2006 Manchester City won  less  games than the 22 year Premier League average.
In 2006 West Ham United won  less  games than the 22 year Premier League average.
In 2006 Fulham won  less  games than the 22 year Premier League average.
In 2006 Wigan Athletic won  less  games than the 22 year Premier League average.
In 2006 Sheffield United won  less  games than the 22 year Premier League average.
In 2006 Charlton Athletic won  less  games than the 22 year Premier League average.
In 2006 Watford won  less  games than the 22 year Premier League average.
In 2007 Manchester United won  more  games than the 22 year Premier League average.
In 2007 Chelsea won  more  games than the 22 year Premier League average.
In 2007 Arsenal won  more  games than the 22 year Premier League average.
In 2007 Liverpool won  more  games than the 22 year Premier League average.
In 2007 Everton won  more  games than the 22 year Premier League average.
In 2007 Aston Villa won  more  games than the 22 year Premier League average.
In 2007 Blackburn Rovers won  more  games than the 22 year Premier League average.
In 2007 Portsmouth won  more  games than the 22 year Premier League average.
In 2007 Manchester City won  more  games than the 22 year Premier League average.
In 2007 West Ham United won  less  games than the 22 year Premier League average.
In 2007 Tottenham Hotspur won  less  games than the 22 year Premier League average.
In 2007 Newcastle United won  less  games than the 22 year Premier League average.
In 2007 Middlesbrough won  less  games than the 22 year Premier League average.
In 2007 Wigan Athletic won  less  games than the 22 year Premier League average.
In 2007 Sunderland won  less  games than the 22 year Premier League average.
In 2007 Bolton Wanderers won  less  games than the 22 year Premier League average.
In 2007 Fulham won  less  games than the 22 year Premier League average.
In 2007 Reading won  less  games than the 22 year Premier League average.
In 2007 Birmingham City won  less  games than the 22 year Premier League average.
In 2007 Derby County won  less  games than the 22 year Premier League average.
In 2008 Manchester United won  more  games than the 22 year Premier League average.
In 2008 Liverpool won  more  games than the 22 year Premier League average.
In 2008 Chelsea won  more  games than the 22 year Premier League average.
In 2008 Arsenal won  more  games than the 22 year Premier League average.
In 2008 Everton won  more  games than the 22 year Premier League average.
In 2008 Aston Villa won  more  games than the 22 year Premier League average.
In 2008 Manchester City won  more  games than the 22 year Premier League average.
In 2008 Wigan Athletic won  less  games than the 22 year Premier League average.

In 2008 Stoke City won  less  games than the 22 year Premier League average.
In 2008 Bolton Wanderers won  less  games than the 22 year Premier League average.
In 2008 Portsmouth won  less  games than the 22 year Premier League average.
In 2008 Blackburn Rovers won  less  games than the 22 year Premier League average.
In 2008 Sunderland won  less  games than the 22 year Premier League average.
In 2008 Hull City won  less  games than the 22 year Premier League average.
In 2008 Newcastle United won  less  games than the 22 year Premier League average.
In 2008 Middlesbrough won  less  games than the 22 year Premier League average.
In 2008 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2009 Chelsea won  more  games than the 22 year Premier League average.
In 2009 Manchester United won  more  games than the 22 year Premier League average.
In 2009 Arsenal won  more  games than the 22 year Premier League average.
In 2009 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2009 Manchester City won  more  games than the 22 year Premier League average.
In 2009 Aston Villa won  more  games than the 22 year Premier League average.
In 2009 Liverpool won  more  games than the 22 year Premier League average.
In 2009 Everton won  more  games than the 22 year Premier League average.
In 2009 Birmingham City won  less  games than the 22 year Premier League average.
In 2009 Blackburn Rovers won  less  games than the 22 year Premier League average.
In 2009 Stoke City won  less  games than the 22 year Premier League average.
In 2009 Fulham won  less  games than the 22 year Premier League average.
In 2009 Sunderland won  less  games than the 22 year Premier League average.
In 2009 Bolton Wanderers won  less  games than the 22 year Premier League average.
In 2009 Wolverhampton Wanderers won  less  games than the 22 year Premier League average.
In 2009 Wigan Athletic won  less  games than the 22 year Premier League average.
In 2009 West Ham United won  less  games than the 22 year Premier League average.
In 2009 Burnley won  less  games than the 22 year Premier League average.
In 2009 Hull City won  less  games than the 22 year Premier League average.
In 2009 Portsmouth won  less  games than the 22 year Premier League average.
In 2010 Manchester United won  more  games than the 22 year Premier League average.
In 2010 Chelsea won  more  games than the 22 year Premier League average.
In 2010 Manchester City won  more  games than the 22 year Premier League average.
In 2010 Arsenal won  more  games than the 22 year Premier League average.
In 2010 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2010 Liverpool won  more  games than the 22 year Premier League average.
In 2010 Everton won  less  games than the 22 year Premier League average.
In 2010 Fulham won  less  games than the 22 year Premier League average.
In 2010 Aston Villa won  less  games than the 22 year Premier League average.
In 2010 Sunderland won  less  games than the 22 year Premier League average.
In 2010 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2010 Newcastle United won  less  games than the 22 year Premier League average.
In 2010 Stoke City won  less  games than the 22 year Premier League average.
In 2010 Bolton Wanderers won  less  games than the 22 year Premier League average.
In 2010 Blackburn Rovers won  less  games than the 22 year Premier League average.
In 2010 Wigan Athletic won  less  games than the 22 year Premier League average.
In 2010 Wolverhampton Wanderers won  less  games than the 22 year Premier League average.
In 2010 Birmingham City won  less  games than the 22 year Premier League average.
In 2010 Blackpool won  less  games than the 22 year Premier League average.
In 2010 West Ham United won  less  games than the 22 year Premier League average.
In 2011 Manchester City won  more  games than the 22 year Premier League average.
In 2011 Manchester United won  more  games than the 22 year Premier League average.
In 2011 Arsenal won  more  games than the 22 year Premier League average.
In 2011 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2011 Newcastle United won  more  games than the 22 year Premier League average.
In 2011 Chelsea won  more  games than the 22 year Premier League average.
In 2011 Everton won  more  games than the 22 year Premier League average.
In 2011 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2011 Swansea City won  less  games than the 22 year Premier League average.
In 2011 Norwich City won  less  games than the 22 year Premier League average.
In 2011 Sunderland won  less  games than the 22 year Premier League average.
In 2011 Stoke City won  less  games than the 22 year Premier League average.
In 2011 Wigan Athletic won  less  games than the 22 year Premier League average.
In 2011 Aston Villa won  less  games than the 22 year Premier League average.
In 2011 Queens Park Rangers won  less  games than the 22 year Premier League average.
In 2011 Bolton Wanderers won  less  games than the 22 year Premier League average.
In 2011 Blackburn Rovers won  less  games than the 22 year Premier League average.
In 2011 Wolverhampton Wanderers won  less  games than the 22 year Premier League average.
In 2012 Manchester United won  more  games than the 22 year Premier League average.
In 2012 Manchester City won  more  games than the 22 year Premier League average.
In 2012 Chelsea won  more  games than the 22 year Premier League average.
In 2012 Arsenal won  more  games than the 22 year Premier League average.
In 2012 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2012 Everton won  more  games than the 22 year Premier League average.
In 2012 Liverpool won  more  games than the 22 year Premier League average.
In 2012 Swansea City won  less  games than the 22 year Premier League average.
In 2012 West Ham United won  less  games than the 22 year Premier League average.
In 2012 Norwich City won  less  games than the 22 year Premier League average.
In 2012 Fulham won  less  games than the 22 year Premier League average.
In 2012 Stoke City won  less  games than the 22 year Premier League average.
In 2012 Southampton won  less  games than the 22 year Premier League average.
In 2012 Aston Villa won  less  games than the 22 year Premier League average.
In 2012 Newcastle United won  less  games than the 22 year Premier League average.
In 2012 Sunderland won  less  games than the 22 year Premier League average.
In 2012 Wigan Athletic won  less  games than the 22 year Premier League average.
In 2012 Reading won  less  games than the 22 year Premier League average.
In 2012 Queens Park Rangers won  less  games than the 22 year Premier League average.
In 2013 Manchester City won  more  games than the 22 year Premier League average.
In 2013 Liverpool won  more  games than the 22 year Premier League average.
In 2013 Chelsea won  more  games than the 22 year Premier League average.
In 2013 Arsenal won  more  games than the 22 year Premier League average.
In 2013 Everton won  more  games than the 22 year Premier League average.
In 2013 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2013 Manchester United won  more  games than the 22 year Premier League average.
In 2013 Southampton won  more  games than the 22 year Premier League average.
In 2013 Stoke City won  less  games than the 22 year Premier League average.
In 2013 Newcastle United won  more  games than the 22 year Premier League average.
In 2013 Crystal Palace won  less  games than the 22 year Premier League average.
In 2013 Swansea City won  less  games than the 22 year Premier League average.
In 2013 West Ham United won  less  games than the 22 year Premier League average.
In 2013 Sunderland won  less  games than the 22 year Premier League average.
In 2013 Aston Villa won  less  games than the 22 year Premier League average.
In 2013 Hull City won  less  games than the 22 year Premier League average.
In 2013 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2013 Norwich City won  less  games than the 22 year Premier League average.
In 2013 Fulham won  less  games than the 22 year Premier League average.
In 2013 Cardiff City won  less  games than the 22 year Premier League average.
In 2014 Chelsea won  more  games than the 22 year Premier League average.
In 2014 Manchester City won  more  games than the 22 year Premier League average.

In 2014 Arsenal won  more  games than the 22 year Premier League average.
In 2014 Manchester United won  more  games than the 22 year Premier League average.
In 2014 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2014 Liverpool won  more  games than the 22 year Premier League average.
In 2014 Southampton won  more  games than the 22 year Premier League average.
In 2014 Swansea City won  more  games than the 22 year Premier League average.
In 2014 Stoke City won  more  games than the 22 year Premier League average.
In 2014 Crystal Palace won  less  games than the 22 year Premier League average.
In 2014 Everton won  less  games than the 22 year Premier League average.
In 2014 West Ham United won  less  games than the 22 year Premier League average.
In 2014 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2014 Leicester City won  less  games than the 22 year Premier League average.
In 2014 Newcastle United won  less  games than the 22 year Premier League average.
In 2014 Sunderland won  less  games than the 22 year Premier League average.
In 2014 Aston Villa won  less  games than the 22 year Premier League average.
In 2014 Hull City won  less  games than the 22 year Premier League average.
In 2014 Burnley won  less  games than the 22 year Premier League average.
In 2014 Queens Park Rangers won  less  games than the 22 year Premier League average.
In 2015 Leicester City won  more  games than the 22 year Premier League average.
In 2015 Arsenal won  more  games than the 22 year Premier League average.
In 2015 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2015 Manchester City won  more  games than the 22 year Premier League average.
In 2015 Manchester United won  more  games than the 22 year Premier League average.
In 2015 Southampton won  more  games than the 22 year Premier League average.
In 2015 West Ham United won  more  games than the 22 year Premier League average.
In 2015 Liverpool won  more  games than the 22 year Premier League average.
In 2015 Chelsea won  less  games than the 22 year Premier League average.
In 2015 Everton won  less  games than the 22 year Premier League average.
In 2015 Swansea City won  less  games than the 22 year Premier League average.
In 2015 Watford won  less  games than the 22 year Premier League average.
In 2015 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2015 Crystal Palace won  less  games than the 22 year Premier League average.
In 2015 Bournemouth won  less  games than the 22 year Premier League average.
In 2015 Sunderland won  less  games than the 22 year Premier League average.
In 2015 Newcastle United won  less  games than the 22 year Premier League average.
In 2015 Norwich City won  less  games than the 22 year Premier League average.
In 2015 Aston Villa won  less  games than the 22 year Premier League average.
In 2016 Chelsea won  more  games than the 22 year Premier League average.
In 2016 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2016 Manchester City won  more  games than the 22 year Premier League average.
In 2016 Liverpool won  more  games than the 22 year Premier League average.
In 2016 Arsenal won  more  games than the 22 year Premier League average.
In 2016 Manchester United won  more  games than the 22 year Premier League average.
In 2016 Everton won  more  games than the 22 year Premier League average.
In 2016 Southampton won  less  games than the 22 year Premier League average.
In 2016 Bournemouth won  less  games than the 22 year Premier League average.
In 2016 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2016 West Ham United won  less  games than the 22 year Premier League average.
In 2016 Leicester City won  less  games than the 22 year Premier League average.
In 2016 Stoke City won  less  games than the 22 year Premier League average.
In 2016 Crystal Palace won  less  games than the 22 year Premier League average.
In 2016 Swansea City won  less  games than the 22 year Premier League average.
In 2016 Burnley won  less  games than the 22 year Premier League average.
In 2016 Watford won  less  games than the 22 year Premier League average.
In 2016 Hull City won  less  games than the 22 year Premier League average.
In 2016 Middlesbrough won  less  games than the 22 year Premier League average.
In 2016 Sunderland won  less  games than the 22 year Premier League average.
In 2017 Manchester City won  more  games than the 22 year Premier League average.
In 2017 Manchester United won  more  games than the 22 year Premier League average.
In 2017 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2017 Liverpool won  more  games than the 22 year Premier League average.
In 2017 Chelsea won  more  games than the 22 year Premier League average.
In 2017 Arsenal won  more  games than the 22 year Premier League average.
In 2017 Everton won  less  games than the 22 year Premier League average.
In 2017 Leicester City won  less  games than the 22 year Premier League average.
In 2017 Newcastle United won  less  games than the 22 year Premier League average.
In 2017 Crystal Palace won  less  games than the 22 year Premier League average.
In 2017 Bournemouth won  less  games than the 22 year Premier League average.
In 2017 West Ham United won  less  games than the 22 year Premier League average.
In 2017 Watford won  less  games than the 22 year Premier League average.
In 2017 Brighton & Hove Albion won  less  games than the 22 year Premier League average.
In 2017 Huddersfield Town won  less  games than the 22 year Premier League average.
In 2017 Southampton won  less  games than the 22 year Premier League average.
In 2017 Swansea City won  less  games than the 22 year Premier League average.
In 2017 Stoke City won  less  games than the 22 year Premier League average.
In 2017 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2018 Manchester City won  more  games than the 22 year Premier League average.
In 2018 Liverpool won  more  games than the 22 year Premier League average.
In 2018 Chelsea won  more  games than the 22 year Premier League average.
In 2018 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2018 Arsenal won  more  games than the 22 year Premier League average.
In 2018 Manchester United won  more  games than the 22 year Premier League average.
In 2018 Wolverhampton Wanderers won  more  games than the 22 year Premier League average.
In 2018 Everton won  more  games than the 22 year Premier League average.
In 2018 Leicester City won  more  games than the 22 year Premier League average.
In 2018 West Ham United won  more  games than the 22 year Premier League average.
In 2018 Newcastle United won  less  games than the 22 year Premier League average.
In 2018 Bournemouth won  less  games than the 22 year Premier League average.
In 2018 Burnley won  less  games than the 22 year Premier League average.
In 2018 Southampton won  less  games than the 22 year Premier League average.
In 2018 Brighton & Hove Albion won  less  games than the 22 year Premier League average.
In 2018 Cardiff City won  less  games than the 22 year Premier League average.
In 2018 Fulham won  less  games than the 22 year Premier League average.
In 2018 Huddersfield Town won  less  games than the 22 year Premier League average.
In 2019 Liverpool won  more  games than the 22 year Premier League average.
In 2019 Manchester City won  more  games than the 22 year Premier League average.
In 2019 Manchester United won  more  games than the 22 year Premier League average.
In 2019 Chelsea won  more  games than the 22 year Premier League average.
In 2019 Leicester City won  more  games than the 22 year Premier League average.
In 2019 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2019 Wolverhampton Wanderers won  more  games than the 22 year Premier League average.
In 2019 Burnley won  more  games than the 22 year Premier League average.
In 2019 Southampton won  more  games than the 22 year Premier League average.
In 2019 Everton won  less  games than the 22 year Premier League average.
In 2019 Newcastle United won  less  games than the 22 year Premier League average.
In 2019 Crystal Palace won  less  games than the 22 year Premier League average.
In 2019 Brighton & Hove Albion won  less  games than the 22 year Premier League average.
In 2019 West Ham United won  less  games than the 22 year Premier League average.
In 2019 Aston Villa won  less  games than the 22 year Premier League average.
In 2019 Bournemouth won  less  games than the 22 year Premier League average.
In 2019 Watford won  less  games than the 22 year Premier League average.
In 2019 Norwich City won  less  games than the 22 year Premier League average.
In 2020 Manchester City won  more  games than the 22 year Premier League average.
In 2020 Manchester United won  more  games than the 22 year Premier League average.
In 2020 Liverpool won  more  games than the 22 year Premier League average.
In 2020 Chelsea won  more  games than the 22 year Premier League average.
In 2020 Leicester City won  more  games than the 22 year Premier League average.
In 2020 West Ham United won  more  games than the 22 year Premier League average.
In 2020 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2020 Arsenal won  more  games than the 22 year Premier League average.
In 2020 Leeds United won  more  games than the 22 year Premier League average.
In 2020 Everton won  more  games than the 22 year Premier League average.
In 2020 Aston Villa won  more  games than the 22 year Premier League average.
In 2020 Newcastle United won  less  games than the 22 year Premier League average.
In 2020 Wolverhampton Wanderers won  less  games than the 22 year Premier League average.
In 2020 Crystal Palace won  less  games than the 22 year Premier League average.
In 2020 Southampton won  less  games than the 22 year Premier League average.
In 2020 Brighton & Hove Albion won  less  games than the 22 year Premier League average.
In 2020 Burnley won  less  games than the 22 year Premier League average.
In 2020 Fulham won  less  games than the 22 year Premier League average.
In 2020 West Bromwich Albion won  less  games than the 22 year Premier League average.
In 2020 Sheffield United won  less  games than the 22 year Premier League average.
In 2021 Manchester City won  more  games than the 22 year Premier League average.
In 2021 Liverpool won  more  games than the 22 year Premier League average.
In 2021 Chelsea won  more  games than the 22 year Premier League average.
In 2021 Tottenham Hotspur won  more  games than the 22 year Premier League average.
In 2021 Arsenal won  more  games than the 22 year Premier League average.
In 2021 Manchester United won  more  games than the 22 year Premier League average.
In 2021 West Ham United won  more  games than the 22 year Premier League average.
In 2021 Brighton & Hove Albion won  less  games than the 22 year Premier League average.
In 2021 Wolverhampton Wanderers won  more  games than the 22 year Premier League average.
In 2021 Newcastle United won  less  games than the 22 year Premier League average.
In 2021 Crystal Palace won  less  games than the 22 year Premier League average.
In 2021 Brentford won  less  games than the 22 year Premier League average.
In 2021 Aston Villa won  less  games than the 22 year Premier League average.
In 2021 Southampton won  less  games than the 22 year Premier League average.
In 2021 Everton won  less  games than the 22 year Premier League average.
In 2021 Leeds United won  less  games than the 22 year Premier League average.
In 2021 Burnley won  less  games than the 22 year Premier League average.
In 2021 Watford won  less  games than the 22 year Premier League average.
In 2021 Norwich City won  less  games than the 22 year Premier League average.